#!/bin/bash

cd /home/ubuntu

sudo apt-get update && sudo apt-get install docker.io -y

sudo docker run -d --name=django \
    -e POSTGRES_PASSWORD=${postgres_password} \
    -e POSTGRES_USER=${postgres_user} \
    -e POSTGRES_DB=${postgres_db} \
    -p 8000 \
    ${aws_account}.dkr.ecr.ap-northeast-2.amazonaws.com/django:dev

sudo docker run -d --name=vuejs -p 80:80 ${aws_account}.dkr.ecr.ap-northeast-2.amazonaws.com/vuejs:dev
